Validacion/ejercicio3.dtd

<!ELEMENT escena (rectangulo*, circunferencia*, linea*)>
<!ELEMENT rectangulo (posicion, altura, ancho)>
<!ELEMENT circunferencia (posicion, radio)>
<!ELEMENT linea (posicion_origen, posicion_destino)>

<!ELEMENT posicion (#PCDATA)>
<!ELEMENT altura (#PCDATA)>
<!ELEMENT ancho (#PCDATA)>
<!ELEMENT radio (#PCDATA)>
<!ELEMENT posicion_origen (#PCDATA)>
<!ELEMENT posicion_destino (#PCDATA)>